@model IEnumerable<Dawe.Models.File>
@{
    ViewData["Title"] = "Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="filemodal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalItemName"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="ModalItemCategory">Item Category</p>
                <p id="ModalItemId">Item id</p>
                <p id="ModalItemType">Item Type</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="downloadbtn" download>Download</a>
                <a class="btn btn-secondary" id="editbtn">Edit</a>
                <button type="button" class="btn btn-danger" onclick="deletefile()">Delete</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>File Name</th>
            <th>File Type</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#filemodal" data-bs-id="@item.Id">
                <td>@Html.DisplayFor(x => item.Id)</td>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@Html.DisplayFor(x => item.Type)</td>
                <td>@Html.DisplayFor(x => item.Category.Name)</td>
            </tr>
        }
    </tbody>
</table>

<form id="ForgeryToken">
    @Html.AntiForgeryToken()
</form>

@section Scripts{
    <script>
        var modal = $("#filemodal").get(0);
        modal.addEventListener('show.bs.modal', function(event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-bs-id');

            $.get("/File/Details/"+id, function(data){
                $('#ModalItemName').text(data["Name"]);
                $('#ModalItemId').text(data["Id"]);
                $('#ModalItemType').text(data["Type"]);
                $('#ModalItemCategory').text(data["Category"]);

                $('#downloadbtn').attr("href", "/File/Download/"+id);
                $('#downloadbtn').attr("download", data["Name"]);

                $('#editbtn').attr("href", "/File/EditFile/"+id);
            });
        });

        function deletefile() {
            var id = $('#ModalItemId').text();
            var token = $('#ForgeryToken').serialize();
            $.post("/File/DeleteFile/"+id, token, function(event) {
                window.location.reload();
            });
        }
    </script>
}